<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
	<!-- setting  -->
	
	<!-- 别名 -->
	<typeAliases>
		<package name="com.cxy.mall.bean"/>
	</typeAliases>

	<!--  Mapper所在位置  不用配置了 -->
	

</configuration>